@import "../../assets/stylus/mixins.styl"

.topHeader
  bottom-border-1px(#e4e4e4)
  position fixed
  top 0
  left 0
  background-color #fff
  width 100%
  padding 0 10px
  box-sizing border-box
  height 44px
  display flex
  justify-content space-between
  align-items center
  z-index 10
  .iconfont
    font-size 28px
  .topImg
    width 82px
    height 23px
  span
    display inline-block
    width 70px
    .icon-sousuo2
      padding-right 10px
