#home
  #header
    width 100%
    bottom-border-1px(#e4e4e4)
    background-color #fff
    position fixed
    top 0
    left 0
    right 0
    z-index 10
    .logo_search
      padding 11px
      display flex
      align-items center
      justify-content space-around
      .logo
        width 70px
        height 20px
        background-image url("./images/wangyiyanxuan.png")
        background-size 100% 100%
      .search
        width 210px
        height 26px
        line-height 26px
        text-align center
        border-radius 5px
        background-color #EDEDED
        margin 0 15px
        font-size 14px
        span
          vertical-align middle
        .iconfont
          font-size 20px
          vertical-align middle
      .login
        padding 4px
        border 1px solid #B4282D
        border-radius 5px
        color #B4282D
        font-size 11px
    .navigate
      width 100%
      height 30px
      display flex
      flex-wrap nowrap
      position relative
      .navList
        height 100%
        margin-left 10px
        display flex
        flex-wrap nowrap
        li
          width 52px
          height 100%
          line-height 30px
          text-align center
          font-size 15px
          span
            padding 4px 7px
            white-space nowrap
            &.on
              border-bottom 1px solid #B4282D
              color #B4282D
  #main
    width 100%
    margin-top 79px
    padding-bottom 50px
    .serve
      background-color #fff
      width 100%
      height 32px
      display flex
      align-items center
      justify-content center
      .serveList
        display flex
        li
          font-size 13px
          margin 0 10px
          img
            width 15px
            vertical-align middle
          span
            vertical-align middle
    .newGift
      margin-top 12px
      padding 15px
      padding-top 0
      height 240px
      background-color #fff
      .newGiftTitle
        height 40px
        display flex
        align-items center
        justify-content center
        .line
          display inline-block
          width 16px
          height 2px
          background-color #333
        .text
          font-size 18px
          margin 0 5px
      .giftImg
        float left
        width 170px
        height 205px
        background-color #F9E9CF
        .title
          font-size 18px
          padding-top 12px
          padding-left 12px
        img
          margin-top 30px
          margin-left 25px
          width 110px
      .welfareWrap
        float right
        width 160px
        height 90px
        padding-left 12px
        padding-top 12px
        background-color #F9E9CF
        border-bottom 2px solid #fff
        .title
          float left
          width 75px
          .welfare
            font-size 18px
          .sale
            margin-top 5px
            font-size 12px
            color #666
        img
          float right
          width 85px
    .fuliImg
      margin-top 10px
      width 100%
      height 150px
