.recommend
  background-color #fff
  margin-top 10px
  padding 0 15px
  box-sizing border-box
  width 100%
  height 670px
  .top
    font-size 15px
    text-align center
    width 100%
    height 60px
    line-height 60px
  .yang
    width 100%
    height 280px
    border-radius 5px
    border 1px solid #d9d9d9
    .recImg
      width 100%
      height 190px
    .recText
      width 100%
      box-sizing border-box
      padding 0 8px
      font-size 18px
      .recTitle
        display flex
        justify-content space-between
        align-items center
        width 100%
        height 30px
        margin 5px 0
      .recInfo
        font-size 14px
  .dinglei
    border-radius 5px
    border 1px solid #d9d9d9
    margin-top 15px
    width 100%
    height 140px
    display flex
    justify-content space-between
    align-items center
    .text
      width 200px
      height 100%
      display flex
      flex-direction column
      justify-content center
      align-items center
      .title
        width 180px
        margin 10px 10px
        font-size 17px
      .info
        width 180px
        margin 0 10px
        margin-left 10px
        font-size 14px
    .image
      width 140px
      height 140px
      position relative
      img
        width 100%
        height 100%
      .imgText
        position absolute
        top 5px
        left 10px
        padding 0 5px
        height 18px
        line-height 18px
        text-align center
        border-radius 10px
        background-color #fff
        font-size 12px

