.swiper-container
  width 100%
  height 200px
  .swiper-wrapper
    width 100%
    height 100%
    .swiper-slide
      width 100%
      height 100%
      background-color pink
      img
        width 100%
        height 100%