@import "../../../assets/stylus/mixins.styl"
#art
  height 100px
  .swiper-slide
    width 100px
    height 100px
    position relative
    .article
      width 100%
      height 100%
      display flex
      flex-direction column
      justify-content center
      align-items center
      .artImg
        width 90px
        height 70px
      .artTitle
        display inline-block
        height 30px
        line-height 30px
        font-size 12px
    .number
      display inline-block
      width 100%
      height 15px
      position absolute
      top 0
      right 0
      color #fff
      text-align end
      font-size 13px
